body, input[type="text"], input[type="password"], input[type="email"], textarea {
    font-size: 14pt;
    font-family: Segoe UI, Droid Sans, DejaVu Sans, Arial, sans-serif;
    background-color: #f3f6fa;
    color: #7c8081;
    line-height: 1;
}

body {
    margin: 0;
    padding: 5em 0 0 0;
}

body.homepage {
    margin: 0;
    padding: 0;
}

body.homepage #logo {
    display: none;
}

a {
    color: #252121;
}

a:hover {
    text-decoration: none;
}

b, strong {
    font-weight: bold;
    color: #252121;
}

h1, h2, h3, h4, h5, h6 {
    color: #252121;
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.75em;
}

h1.logo,
h1.logo a {
    color: #fff !important;
    text-decoration: none;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}

code {
    border-radius: 2.5px;
    background-color: #252121;
    color: #fff;
    font-weight: 400;
    font-family: monospace;
    font-size: 0.8em;
    padding: 0px 5px;
    vertical-align: middle;
    border: 1px solid #252121;
}

pre {
    border-radius: 2.5px;
    background-color: #252121;
    color: #fff;
    font-weight: 400;
    font-family: monospace;
    font-size: 0.8em;
    padding: 5px;
    vertical-align: middle;
    border: 1px solid #252121;
    display: block;
    line-height: 1;
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: auto;
    margin: 0.5em 0;
}

pre code {
    padding: 0px;
    font-size: 0.8em;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0 none;
}

pre code.html .code-tag {
    color: #39f;
}

pre code.html .code-com {
    color: #999;
}

pre code.html .code-att {
    color: #f60;
}

pre code.html .code-str {
    color: #390;
}

ul,
ol {
    padding-left: 2.5em;
}
p,
blockquote,
ul,
ol {
    margin-bottom: 2em;
}

blockquote {
    border-left: 5px solid #555;
    padding: 0.5em 1em;
    font-size: 0.8em;
    font-style: italic;
}

input[type="text"], input[type="password"], input[type="email"] {
    line-height: 1em;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #696567;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    -webkit-transition: background-color 0.3s ease-in-out 0s, border-color 0.3s ease-in-out 0s;
    -moz-transition: background-color 0.3s ease-in-out 0s, border-color 0.3s ease-in-out 0s;
    -o-transition: background-color 0.3s ease-in-out 0s, border-color 0.3s ease-in-out 0s;
    transition: background-color 0.3s ease-in-out 0s, border-color 0.3s ease-in-out 0s;
    -moz-appearance: none;
    background: transparent none repeat scroll 0% 0%;
    border: 1px solid rgba(124, 128, 129, 0.2);
    color: inherit;
    display: block;
    padding: 0.75em;
    text-decoration: none;
    width: 100%;
    outline: 0px none;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    cursor: pointer;
    -webkit-transition: color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    -moz-transition: color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    -o-transition: color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    transition: color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    border: 2px solid #fff;
    font-size: 0.8em;
    line-height: 2em;
    padding: 0px 1em;
    border-radius: 5px;
    color: #fff;
    background-color: #252121;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
    display: inline-block;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
    border: 2px solid #252121;
    background-color: #fff;
    color: #252121;
}

#header-wrapper {
    background-color: #252121;
    padding: 0;
    margin: 0;
    display: block;
}

@-moz-keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#banner {
    -webkit-animation: 1.5s ease-in-out 0.25s normal forwards 1 running reveal-banner;
    -moz-animation: 1.5s ease-in-out 0.25s normal forwards 1 running reveal-banner;
    -o-animation: 1.5s ease-in-out 0.25s normal forwards 1 running reveal-banner;
    animation: 1.5s ease-in-out 0.25s normal forwards 1 running reveal-banner;
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: block;
    opacity: 0;
}

#banner::before {
    content: "";
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
    width: 1%;
}

#banner .content {
    display: inline-block;
    margin-right: 1%;
    max-width: 95%;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}

#banner::after {
    content: "";
    display: block;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

@-moz-keyframes reveal-menu {
    0% {
        top: -5em;
    }

    100% {
        top: 0;
    }
}

@-webkit-keyframes reveal-menu {
    0% {
        top: -5em;
    }

    100% {
        top: 0;
    }
}

@-ms-keyframes reveal-menu {
    0% {
        top: -5em;
    }

    100% {
        top: 0;
    }
}

@keyframes reveal-menu {
    0% {
        top: -5em;
    }

    100% {
        top: 0;
    }
}

#menu-header.alt {
    -webkit-animation: 0.5s ease 0s normal none 1 running none;
    -moz-animation: 0.5s ease 0s normal none 1 running none;
    -o-animation: 0.5s ease 0s normal none 1 running none;
    animation: 0.5s ease 0s normal none 1 running none;
    background: transparent none repeat scroll 0% 0%;
    box-shadow: none;
    position: relative;
}

#menu-header.reveal {
    -webkit-animation: 0.5s ease 0s normal none 1 running reveal-menu;
    -moz-animation: 0.5s ease 0s normal none 1 running reveal-menu;
    -o-animation: 0.5s ease 0s normal none 1 running reveal-menu;
    animation: 0.5s ease 0s normal none 1 running reveal-menu;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 5px 0px;
}

#menu-header {
    background-color: #252121;
    left: 0px;
    right: 0px;
    font-size: 0.8em;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000;
    line-height: 5em;
    padding: 0 5em;
    height: 5em;
}

#menu-header h1.logo {
    display: none;
}

#menu-header.reveal h1.logo {
    display: block;
    float: left;
    font-size: 2em;
    font-weight: 800;
    color: #fff;
}

#menu-header.alt nav.menu {
    text-align: center;
}

#menu-header.reveal nav.menu {
    text-align: right;
    float: right;
}

nav.menu ul li {
    display: inline-block;
    margin: 0px 2em;
}

nav.menu ul li a.current {
    color: #252121;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 800;
    opacity: 1;
}

nav.menu ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    height: 2em;
    line-height: 2em;
    border-radius: 5px;
    padding: 0 1.25em;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

nav.menu ul li a:hover {
    opacity: 1;
}

#main-wrapper {
    background-image: url("images/dark-tl.svg"), url("images/dark-br.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 35em auto;
    padding: 2.5em 0;
}

section header.title {
    color: #252121;
}

section header.title h1,
section header.title h2,
section header.title h3,
section header.title h4 {
    border-bottom: 2px solid #252121;
    padding-bottom: 10px;
}

section header.title h1,
section header.title h2 {
    font-size: 3em;
}

section header.title h3,
section header.title h4 {
    font-size: 1.5em;
    border-bottom: 1px solid #252121;
}

section header.title p {
    font-weight: 600;
    font-size: 0.8em;
}

section.box {
    background-color: #fff;
    padding: 2em;
}

section.box.border {
    border: 1px solid #252121;
}

section.box.flush {
    padding: 2em 0;
    text-align: center;
}

section.box.for-special {
    padding: 0;
}

section.box.special {
    background-color: #252121;
    text-align: center;
}

section.box.special footer {
    margin: 0;
}

section.box.special header h1,
section.box.special header h2,
section.box.special header h3,
section.box.special header h4 {
    color: #fff;
    font-size: 1em;
}

section.box {
    line-height: 1.25em;
}

section.box footer {
    margin: 0 -2em -2em -2em;
    padding: 1em;
    background-color: #252121;
    text-align: center;
}

section.box footer a {
    margin: 0.5em 0px;
}

section.box.featured-content h1,
section.box.featured-content h2 {
    text-align: center;
    border-bottom: 2px solid #252121;
    font-size: 3em;
    padding-bottom: 10px;
}

img.featured {
    display: block;
    margin: 0px 0px 2em 0px;
    width: 100%;
    border: 0px none;
    position: relative;
    overflow: hidden;
}

img.poster.left {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

#footer-wrapper {
    background-color: #252121;
    padding: 2.5em 0;
    margin: 0;
    color: #fff;
    text-align: center;
    display: block;
    position: relative;
}

ul.socials {
    cursor: default;
    margin: 0;
    padding: 0;
}

    ul.socials li {
        display: inline-block;
        line-height: 1em;
        padding-left: 0.5em;
    }

        ul.socials li:first-child {
            padding-left: 0;
        }

ul.socials .icon {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2.25em;
}

ul.socials .icon::before {
    margin: 0;
    padding: 0;
}

    ul.socials .icon:hover {
        top: -0.2em;
    }

ul.socials .label {
    display: none;
}

ul.socials .icon.fa-envelope {
    background: #7490c3;
    color: #fff;
}

    ul.socials .icon.fa-envelope:hover {
        background: #829bc9;
    }

ul.socials .icon.fa-github {
    background: #dcad8b;
    color: #fff;
}

    ul.socials .icon.fa-github:hover {
        background: #e1b89b;
    }

#copyright ul {
    font-size: 0.8em;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

#copyright ul li:first-child {
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

#copyright ul li {
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px dotted;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    body, input[type="text"], input[type="password"], input[type="email"], textarea {
        font-size: 12pt;
    }

    body {
        padding: 0;
        margin: 5em 0 0 0;
    }

    #menu-header {
        padding: 0 2em;
    }

    .container {
        padding: 0 4em;
    }
}

@media screen and (max-width: 480px) {
    body, input[type="text"], input[type="password"], input[type="email"], textarea {
        font-size: 10pt;
    }

    body {
        padding: 0;
        margin: 0;
    }

    ul,
    ol {
        padding-left: 1em;
    }

    #menu-header {
        padding: 0 1em;
    }

    .container {
        padding: 0 2em;
    }

    #copyright ul {
        display: inline-block;
        margin: 1em;
    }

    #copyright ul li {
        display: block;
        border-top: dotted 1px;
        border-left: none;
        padding: 1em 0 1em 0;
    }

    #copyright ul li:first-child {
        border-top: 0;
        padding: 0 0 1em 0;
    }

    #copyright ul li:last-child {
        padding: 1em 0 0 0;
    }
}